<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" http-equiv="Content-Language"></meta>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>

<span th:if="${error} != null">Wrong login</span>

	<form action="#" th:action="@{/login}" th:object="${user}" method="post">
		<table>
			<tr>
				<td>Login:</td>
				<td><input type="text" th:field="*{login}" /></td>
			</tr>
			<tr>
				<td>Password:</td>
				<td><input type="text" th:field="*{password}" /></td>
			</tr>
			<tr>
				<td><button type="submit">Login</button></td>
			</tr>
		</table>
	</form>

</body>
</html>