<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<link rel="icon" href="../../../../favicon.ico" />

<title>Signin Template for Bootstrap</title>

<!-- Bootstrap core CSS -->
<link href="https://getbootstrap.com/dist/css/bootstrap.min.css"
	rel="stylesheet" />

<!-- Custom styles for this template -->
<link href="http://getbootstrap.com/docs/4.0/examples/signin/signin.css"
	rel="stylesheet" />

<link rel="stylesheet" type="text/css" media="all" th:href="@{/static/custom.css}" />
</head>

<body>

	<div class="container">

		<form class="form-signin" th:action="@{/register}" th:object="${user}"
			method="post">
			<h2 class="form-signin-heading">Please sign up</h2>
			<label for="inputEmail" class="sr-only">Email address</label> <input
				type="email" th:field="*{login}" id="inputEmail"
				class="form-control" placeholder="Email address" required=""
				autofocus="" /> <label for="inputPassword" class="sr-only">Password</label>
			<input type="password" th:field="*{password}" id="inputPassword"
				class="form-control" placeholder="Password" required="" />

			<div class="btn-group" data-toggle="buttons">

				<label class="btn btn-success active"> <input type="radio"
					name="options" id="option2" autocomplete="off" chacked> <span
					class="glyphicon glyphicon-ok"></span>
				</label> <label class="btn btn-primary"> <input type="radio"
					name="options" id="option1" autocomplete="off"> <span
					class="glyphicon glyphicon-ok"></span>
				</label> <label class="btn btn-info"> <input type="radio"
					name="options" id="option2" autocomplete="off"> <span
					class="glyphicon glyphicon-ok"></span>
				</label> <label class="btn btn-default"> <input type="radio"
					name="options" id="option2" autocomplete="off"> <span
					class="glyphicon glyphicon-ok"></span>
				</label> <label class="btn btn-warning"> <input type="radio"
					name="options" id="option2" autocomplete="off"> <span
					class="glyphicon glyphicon-ok"></span>
				</label> <label class="btn btn-danger"> <input type="radio"
					name="options" id="option2" autocomplete="off"> <span
					class="glyphicon glyphicon-ok"></span>
				</label>

			</div>

			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign
				up</button>
		</form>

	</div>
	<!-- /container -->


	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script
		src="https://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
