<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<link rel="icon" href="../../../../favicon.ico" />

<title>Signin Template for Bootstrap</title>

<!-- Bootstrap core CSS -->
<link href="https://getbootstrap.com/dist/css/bootstrap.min.css"
	rel="stylesheet" />

<!-- Custom styles for this template -->
<link href="http://getbootstrap.com/docs/4.0/examples/signin/signin.css"
	rel="stylesheet" />

</head>

<body>

	<div class="container">

		<form class="form-signin" th:action="@{/register}" th:object="${user}" method="post">
			<h2 class="form-signin-heading">Please sign up</h2>

			<label for="inputEmail" class="sr-only">Email address</label> 
			<input type="email" th:field="*{login}" class="form-control" placeholder="Email address" required="" autofocus="" /> 
			<label for="inputPassword" class="sr-only">Password</label>
			<input type="password" th:field="*{password}" class="form-control" placeholder="Password" required="" /> 
			<label for="inputName" class="sr-only">First name</label>
			<input type="text" th:field="*{firstName}" class="form-control" placeholder="First name" required="" autofocus="" />
			<label for="inputSurname" class="sr-only">Last name</label>
			<input type="text" th:field="*{lastName}" class="form-control" placeholder="Last name" required="" autofocus="" />
			<label for="inputDate" class="sr-only">Birth date</label>
			<input type="date" th:field="*{birthDate}" class="form-control" placeholder="Birth date" required="" autofocus="" />

			<div>
				<input type="radio" class="radio" name="group1" th:field="*{speciality}" th:value="DOCTOR" /> 
				<label for="radio">Doctor</label>
				<input type="radio" class="radio" name="group1" th:field="*{speciality}" th:value="NURSE" />
				<label for="radio">Nurse</label>
			</div>

			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
		</form>

	</div>
	<!-- /container -->


	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script
		src="https://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>



</body>
</html>
